/*
.VSCodeCounter

!.cargo
!assets
!src/
!.gitignore
!.rustfmt.toml
!Cargo.lock
!Cargo.toml
!MindSpace.code-workspace
!README.md
!ARCHITECTURE.md
!CHANGELOG.md
!rust-toolchain.toml
!Trunk.toml
!xtask
!bevy_xpbd_3d_parenting
!build
!.github
!.pre-commit-config.yaml
!testing
!crates
